<!-- views/urls_show.ejs -->

<!DOCTYPE html>

<html>

  <head>
  <% include ./partials/_head %>
  </head>

  <body>

    <header>
      <% include partials/_header %>
    </header>

    <ul>
      <li> Full URL = <%= urls[shortURL].long %> </li>
      <li> Short URL = <%= urls[shortURL].short %> </li>
      <li> User ID = <%= urls[shortURL].userID %> </li>
      <li> Times Visited = <%= urls[shortURL].count %> </li>
    </ul>

    <% if (username.id === urls[shortURL].userID) { %>

    <form method="POST" action="/urls/<%=shortURL%>?_method=PUT">
      <br>
      <p style="text-indent: 40px;"> Update URL:
      <input type="text" name="updatedURL">
      <input type="submit" value="Update"> </p>
      <br>
      <% } else { %>
        <p style="text-align: center;"> Error: Cannot edit URL that does not belong to you! </p>
      <% } %>

   </body>
</html>




