<!-- urls_index.js in view -->

<!DOCTYPE html>

<html>

  <head>
    <% include ./partials/_head.ejs %>
    <title> TinyApp! </title>
  </head>

  <body>

    <header>
      <% include partials/_header %>
    </header>

    <ul>
        <% for (let urlkey in urls) { %>
          <li> <a href="/urls/<%=urlkey%>"><%= urlkey %></a> : <%= urls[urlkey].long %> </li>
            <form method="POST" action="urls/<%=urlkey%>/delete?_method=DELETE">
              <button class="btn btn-danger"> Delete </button>  <a href='/urls/<%=urlkey%>' class="btn btn-primary"> Edit URL </a></button>
            </form>
            <br>
        <% } %>
    </ul>

  <footer>
    <% include ./partials/_footer %>
  </footer>

  </body>

</html>